html {
    font-size: 20px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container, .sub-container, button {
    border-radius: .5rem;
}

.form-control {
    pointer-events: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.num,
.operator,
.equals,
.clear,
.operator,
.backspace,
.decimal {
    flex: 1;
}
